UPDATE "users" SET "hashed_password"='{{hashed_password}}', "last_login_on"=now(), "salt"='{{salt}}', "must_change_passwd" = 'false', "passwd_changed_on"=now() WHERE "id"=1;

INSERT INTO settings ("name", "value", "updated_on") VALUES
	('rest_api_enabled', '1', now()),
	('jsonp_enabled', '0', now());

INSERT INTO tokens ("user_id", "action", "value", "created_on", "updated_on") VALUES
	(1, 'api', '{{api_key}}', now(), now());

INSERT INTO settings ("name", "value", "updated_on") VALUES
	('app_title', 'Redmine', now()),
	('welcome_text', '', now()),
	('per_page_options', '25,50,100', now()),
	('search_results_per_page', '10', now()),
	('activity_days_default', '30', now()),
	('host_name', '{{devops_domain_name}}/#/project', now()),
	('protocol', 'http', now()),
	('text_formatting', 'markdown', now()),
	('cache_formatted_text', '0', now()),
	('wiki_compression', '', now()),
	('feeds_limit', '15', now()),
	('attachment_max_size', '20480', now()),
	('attachment_extensions_allowed', '', now()),
	('attachment_extensions_denied', '', now()),
	('file_max_size_displayed', '512', now()),
	('diff_max_lines_displayed', '1500', now()),
	('repositories_encodings', '', now()),
	('cross_project_issue_relations','1',now()),
	('link_copied_issue','ask',now()),
	('cross_project_subtasks','tree',now()),
	('close_duplicate_issues','1',now()),
	('issue_group_assignment','1',now()),
	('default_issue_start_date_to_creation_date','1',now()),
	('display_subprojects_issues','1',now()),
	('issue_done_ratio','issue_field',now()),
	('non_working_week_days','---
- ''6''
- ''7''
',now()),
	('issues_export_limit','500',now()),
	('gantt_items_limit','500',now()),
	('gantt_months_limit','24',now()),
	('parent_issue_dates','derived',now()),
	('parent_issue_priority','derived',now()),
	('parent_issue_done_ratio','derived',now()),
	('issue_list_default_columns','---
- tracker
- status
- priority
- subject
- assigned_to
- updated_on
',now()),
	('issue_list_default_totals','--- []
',now());

INSERT INTO enumerations ("id", "name", "position", "is_default", "type", "active", "project_id", "parent_id", "position_name") VALUES
	(1, 'Immediate', 1, 'false', 'IssuePriority', 'true', NULL, NULL, 'lowest'),
	(2, 'High', 2, 'false', 'IssuePriority', 'true', NULL, NULL, 'default'),
	(3, 'Normal', 3, 'false', 'IssuePriority', 'true', NULL, NULL, 'high2'),
	(4, 'Low', 4, 'false', 'IssuePriority', 'true', NULL, NULL, 'highest');
Select setval( pg_get_serial_sequence('enumerations', 'id'), (Select Max(id) From enumerations), TRUE);

INSERT INTO issue_statuses ("id", "name", "is_closed", "position", "default_done_ratio") VALUES
	(1, 'Active', 'false', 1, NULL),
	(2, 'Assigned', 'false', 2, NULL),
	(3, 'InProgress', 'false', 3, NULL),
	(4, 'Solved', 'false', 4, NULL),
	(5, 'Verified', 'false', 5, NULL),
	(6, 'Closed', 'true', 6, NULL);
Select setval( pg_get_serial_sequence('issue_statuses', 'id'), (Select Max(id) From issue_statuses), TRUE);

INSERT INTO roles ("id", "name", "position", "assignable", "builtin", "permissions", "issues_visibility", "users_visibility", "time_entries_visibility", "all_roles_managed", "settings") VALUES
	(3, 'Engineer', 1, 'true', 0, '---
- :view_messages
- :add_messages
- :edit_messages
- :edit_own_messages
- :delete_messages
- :delete_own_messages
- :manage_boards
- :view_calendar
- :view_documents
- :add_documents
- :edit_documents
- :delete_documents
- :view_files
- :manage_files
- :view_gantt
- :view_issues
- :add_issues
- :edit_issues
- :edit_own_issues
- :copy_issues
- :manage_issue_relations
- :manage_subtasks
- :set_issues_private
- :set_own_issues_private
- :add_issue_notes
- :edit_issue_notes
- :edit_own_issue_notes
- :view_private_notes
- :set_notes_private
- :delete_issues
- :view_issue_watchers
- :add_issue_watchers
- :delete_issue_watchers
- :import_issues
- :manage_categories
- :view_news
- :manage_news
- :comment_news
- :view_changesets
- :browse_repository
- :commit_access
- :manage_related_issues
- :manage_repository
- :view_time_entries
- :log_time
- :edit_time_entries
- :edit_own_time_entries
- :manage_project_activities
- :log_time_for_other_users
- :import_time_entries
- :view_wiki_pages
- :view_wiki_edits
- :export_wiki_pages
- :edit_wiki_pages
- :rename_wiki_pages
- :delete_wiki_pages
- :delete_wiki_pages_attachments
- :protect_wiki_pages
- :manage_wiki
', 'default', 'all', 'all', 'true', '--- !ruby/hash:ActiveSupport::HashWithIndifferentAccess
permissions_all_trackers: !ruby/hash:ActiveSupport::HashWithIndifferentAccess
  view_issues: ''1''
  add_issues: ''1''
  edit_issues: ''1''
  add_issue_notes: ''1''
  delete_issues: ''1''
permissions_tracker_ids: !ruby/hash:ActiveSupport::HashWithIndifferentAccess
  view_issues: []
  add_issues: []
  edit_issues: []
  add_issue_notes: []
  delete_issues: []
'),
	(4, 'Project Manager', 2, 'true', 0, '---
- :add_project
- :edit_project
- :close_project
- :select_project_modules
- :manage_members
- :manage_versions
- :add_subprojects
- :manage_public_queries
- :save_queries
- :view_messages
- :add_messages
- :edit_messages
- :edit_own_messages
- :delete_messages
- :delete_own_messages
- :manage_boards
- :view_calendar
- :view_documents
- :add_documents
- :edit_documents
- :delete_documents
- :view_files
- :manage_files
- :view_gantt
- :view_issues
- :add_issues
- :edit_issues
- :edit_own_issues
- :copy_issues
- :manage_issue_relations
- :manage_subtasks
- :set_issues_private
- :set_own_issues_private
- :add_issue_notes
- :edit_issue_notes
- :edit_own_issue_notes
- :view_private_notes
- :set_notes_private
- :delete_issues
- :view_issue_watchers
- :add_issue_watchers
- :delete_issue_watchers
- :import_issues
- :manage_categories
- :view_news
- :manage_news
- :comment_news
- :view_changesets
- :browse_repository
- :commit_access
- :manage_related_issues
- :manage_repository
- :view_time_entries
- :log_time
- :edit_time_entries
- :edit_own_time_entries
- :manage_project_activities
- :log_time_for_other_users
- :import_time_entries
- :view_wiki_pages
- :view_wiki_edits
- :export_wiki_pages
- :edit_wiki_pages
- :rename_wiki_pages
- :delete_wiki_pages
- :delete_wiki_pages_attachments
- :protect_wiki_pages
- :manage_wiki
', 'default', 'all', 'all', 'true', '--- !ruby/hash:ActiveSupport::HashWithIndifferentAccess
permissions_all_trackers: !ruby/hash:ActiveSupport::HashWithIndifferentAccess
  view_issues: ''1''
  add_issues: ''1''
  edit_issues: ''1''
  add_issue_notes: ''1''
  delete_issues: ''1''
permissions_tracker_ids: !ruby/hash:ActiveSupport::HashWithIndifferentAccess
  view_issues: []
  add_issues: []
  edit_issues: []
  add_issue_notes: []
  delete_issues: []
');
Select setval( pg_get_serial_sequence('roles', 'id'), (Select Max(id) From roles), TRUE);

INSERT INTO trackers ("id", "name", "is_in_chlog", "position", "is_in_roadmap", "fields_bits", "default_status_id", "description") VALUES
	(1, 'Epic', 'false', 1, 'true', 0, 1, ''),
	(2, 'Audit', 'false', 2, 'true', 0, 1, ''),
	(3, 'Feature', 'false', 3, 'true', 0, 1, ''),
	(4, 'Bug', 'false', 4, 'true', 0, 1, ''),
	(5, 'Issue', 'false', 5, 'true', 0, 1, ''),
	(6, 'Change Request', 'false', 6, 'true', 0, 1, ''),	
	(7, 'Risk', 'false', 7, 'true', 0, 1, ''),	
	(8, 'Test Plan', 'false', 8, 'true', 0, 1, ''),
	(9, 'Fail Management', 'false', 9, 'true', 0, 1, '');
Select setval( pg_get_serial_sequence('trackers', 'id'), (Select Max(id) From trackers), TRUE);

INSERT INTO workflows ("id", "tracker_id", "old_status_id", "new_status_id", "role_id", "assignee", "author", "type", "field_name", "rule") VALUES
	(1, 1, 0, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(2, 1, 0, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(3, 1, 0, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(4, 1, 0, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(5, 1, 0, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(6, 1, 0, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(7, 1, 1, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(8, 1, 1, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(9, 1, 1, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(10, 1, 1, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(11, 1, 1, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(12, 1, 2, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(13, 1, 2, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(14, 1, 2, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(15, 1, 2, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(16, 1, 2, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(17, 1, 3, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(18, 1, 3, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(19, 1, 3, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(20, 1, 3, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(21, 1, 4, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(22, 1, 4, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(23, 1, 4, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(24, 1, 4, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(25, 1, 4, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(26, 1, 5, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(27, 1, 5, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(28, 1, 5, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(29, 1, 5, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(30, 1, 5, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(31, 1, 6, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(32, 1, 6, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(33, 1, 6, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(34, 1, 6, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(35, 1, 6, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(36, 1, 3, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(37, 1, 0, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(38, 1, 0, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(39, 1, 0, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(40, 1, 0, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(41, 1, 0, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(42, 1, 0, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(43, 1, 1, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(44, 1, 1, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(45, 1, 1, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(46, 1, 1, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(47, 1, 1, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(48, 1, 2, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(49, 1, 2, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(50, 1, 2, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(51, 1, 2, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(52, 1, 2, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(53, 1, 3, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(54, 1, 3, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(55, 1, 3, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(56, 1, 3, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(57, 1, 3, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(58, 1, 4, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(59, 1, 4, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(60, 1, 4, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(61, 1, 4, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(62, 1, 4, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(63, 1, 5, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(64, 1, 5, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(65, 1, 5, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(66, 1, 5, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(67, 1, 5, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(68, 1, 6, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(69, 1, 6, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(70, 1, 6, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(71, 1, 6, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(72, 1, 6, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(73, 2, 0, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(74, 2, 0, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(75, 2, 0, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(76, 2, 0, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(77, 2, 0, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(78, 2, 0, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(79, 2, 1, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(80, 2, 1, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(81, 2, 1, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(82, 2, 1, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(83, 2, 1, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(84, 2, 2, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(85, 2, 2, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(86, 2, 2, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(87, 2, 2, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(88, 2, 2, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(89, 2, 3, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(90, 2, 3, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(91, 2, 3, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(92, 2, 3, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(93, 2, 3, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(94, 2, 4, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(95, 2, 4, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(96, 2, 4, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(97, 2, 4, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(98, 2, 4, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(99, 2, 5, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(100, 2, 5, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(101, 2, 5, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(102, 2, 5, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(103, 2, 5, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(104, 2, 6, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(105, 2, 6, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(106, 2, 6, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(107, 2, 6, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(108, 2, 6, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(109, 3, 0, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(110, 4, 0, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(111, 3, 0, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(112, 4, 0, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(113, 3, 0, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(114, 4, 0, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(115, 3, 0, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(116, 4, 0, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(117, 3, 0, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(118, 4, 0, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(119, 3, 0, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(120, 4, 0, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(121, 3, 1, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(122, 4, 1, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(123, 3, 1, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(124, 4, 1, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(125, 3, 1, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(126, 4, 1, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(127, 3, 1, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(128, 4, 1, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(129, 3, 1, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(130, 4, 1, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(131, 3, 2, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(132, 4, 2, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(133, 3, 2, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(134, 4, 2, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(135, 3, 2, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(136, 4, 2, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(137, 3, 2, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(138, 4, 2, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(139, 3, 2, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(140, 4, 2, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(141, 3, 3, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(142, 4, 3, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(143, 3, 3, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(144, 4, 3, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(145, 3, 3, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(146, 4, 3, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(147, 3, 3, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(148, 4, 3, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(149, 3, 3, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(150, 4, 3, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(151, 3, 4, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(152, 4, 4, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(153, 3, 4, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(154, 4, 4, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(155, 3, 4, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(156, 4, 4, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(157, 3, 4, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(158, 4, 4, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(159, 3, 4, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(160, 4, 4, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(161, 3, 5, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(162, 4, 5, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(163, 3, 5, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(164, 4, 5, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(165, 3, 5, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(166, 4, 5, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(167, 3, 5, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(168, 4, 5, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(169, 3, 5, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(170, 4, 5, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(171, 3, 6, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(172, 4, 6, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(173, 3, 6, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(174, 4, 6, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(175, 3, 6, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(176, 4, 6, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(177, 3, 6, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(178, 4, 6, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(179, 3, 6, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(180, 4, 6, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(181, 2, 0, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(182, 3, 0, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(183, 4, 0, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(184, 2, 0, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(185, 3, 0, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(186, 4, 0, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(187, 2, 0, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(188, 3, 0, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(189, 4, 0, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(190, 2, 0, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(191, 3, 0, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(192, 4, 0, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(193, 2, 0, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(194, 3, 0, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(195, 4, 0, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(196, 2, 0, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(197, 3, 0, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(198, 4, 0, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(199, 2, 1, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(200, 3, 1, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(201, 4, 1, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(202, 2, 1, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(203, 3, 1, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(204, 4, 1, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(205, 2, 1, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(206, 3, 1, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(207, 4, 1, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(208, 2, 1, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(209, 3, 1, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(210, 4, 1, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(211, 2, 1, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(212, 3, 1, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(213, 4, 1, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(214, 2, 2, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(215, 3, 2, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(216, 4, 2, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(217, 2, 2, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(218, 3, 2, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(219, 4, 2, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(220, 2, 2, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(221, 3, 2, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(222, 4, 2, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(223, 2, 2, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(224, 3, 2, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(225, 4, 2, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(226, 2, 2, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(227, 3, 2, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(228, 4, 2, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(229, 2, 3, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(230, 3, 3, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(231, 4, 3, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(232, 2, 3, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(233, 3, 3, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(234, 4, 3, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(235, 2, 3, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(236, 3, 3, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(237, 4, 3, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(238, 2, 3, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(239, 3, 3, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(240, 4, 3, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(241, 2, 3, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(242, 3, 3, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(243, 4, 3, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(244, 2, 4, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(245, 3, 4, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(246, 4, 4, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(247, 2, 4, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(248, 3, 4, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(249, 4, 4, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(250, 2, 4, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(251, 3, 4, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(252, 4, 4, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(253, 2, 4, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(254, 3, 4, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(255, 4, 4, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(256, 2, 4, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(257, 3, 4, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(258, 4, 4, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(259, 2, 5, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(260, 3, 5, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(261, 4, 5, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(262, 2, 5, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(263, 3, 5, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(264, 4, 5, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(265, 2, 5, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(266, 3, 5, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(267, 4, 5, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(268, 2, 5, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(269, 3, 5, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(270, 4, 5, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(271, 2, 5, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(272, 3, 5, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(273, 4, 5, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(274, 2, 6, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(275, 3, 6, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(276, 4, 6, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(277, 2, 6, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(278, 3, 6, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(279, 4, 6, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(280, 2, 6, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(281, 3, 6, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(282, 4, 6, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(283, 2, 6, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(284, 3, 6, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(285, 4, 6, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(286, 2, 6, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(287, 3, 6, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(288, 4, 6, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(289, 5, 0, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(290, 5, 0, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(291, 5, 0, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(292, 5, 0, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(293, 5, 0, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(294, 5, 0, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(295, 5, 1, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(296, 5, 1, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(297, 5, 1, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(298, 5, 1, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(299, 5, 1, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(300, 5, 2, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(301, 5, 2, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(302, 5, 2, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(303, 5, 2, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(304, 5, 2, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(305, 5, 3, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(306, 5, 3, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(307, 5, 3, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(308, 5, 3, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(309, 5, 4, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(310, 5, 4, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(311, 5, 4, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(312, 5, 4, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(313, 5, 4, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(314, 5, 5, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(315, 5, 5, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(316, 5, 5, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(317, 5, 5, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(318, 5, 5, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(319, 5, 6, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(320, 5, 6, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(321, 5, 6, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(322, 5, 6, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(323, 5, 6, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(324, 5, 3, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(325, 5, 0, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(326, 5, 0, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(327, 5, 0, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(328, 5, 0, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(329, 5, 0, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(330, 5, 0, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(331, 5, 1, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(332, 5, 1, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(333, 5, 1, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(334, 5, 1, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(335, 5, 1, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(336, 5, 2, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(337, 5, 2, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(338, 5, 2, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(339, 5, 2, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(340, 5, 2, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(341, 5, 3, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(342, 5, 3, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(343, 5, 3, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(344, 5, 3, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(345, 5, 3, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(346, 5, 4, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(347, 5, 4, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(348, 5, 4, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(349, 5, 4, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(350, 5, 4, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(351, 5, 5, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(352, 5, 5, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(353, 5, 5, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(354, 5, 5, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(355, 5, 5, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(356, 5, 6, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(357, 5, 6, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(358, 5, 6, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(359, 5, 6, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(360, 5, 6, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(361, 6, 0, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(362, 6, 0, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(363, 6, 0, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(364, 6, 0, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(365, 6, 0, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(366, 6, 0, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(367, 6, 1, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(368, 6, 1, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(369, 6, 1, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(370, 6, 1, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(371, 6, 1, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(372, 6, 2, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(373, 6, 2, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(374, 6, 2, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(375, 6, 2, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(376, 6, 2, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(377, 6, 3, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(378, 6, 3, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(379, 6, 3, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(380, 6, 3, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(381, 6, 3, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(382, 6, 4, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(383, 6, 4, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(384, 6, 4, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(385, 6, 4, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(386, 6, 4, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(387, 6, 5, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(388, 6, 5, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(389, 6, 5, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(390, 6, 5, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(391, 6, 5, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(392, 6, 6, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(393, 6, 6, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(394, 6, 6, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(395, 6, 6, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(396, 6, 6, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(397, 6, 0, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(398, 6, 0, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(399, 6, 0, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(400, 6, 0, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(401, 6, 0, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(402, 6, 0, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(403, 6, 1, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(404, 6, 1, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(405, 6, 1, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(406, 6, 1, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(407, 6, 1, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(408, 6, 2, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(409, 6, 2, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(410, 6, 2, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(411, 6, 2, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(412, 6, 2, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(413, 6, 3, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(414, 6, 3, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(415, 6, 3, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(416, 6, 3, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(417, 6, 3, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(418, 6, 4, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(419, 6, 4, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(420, 6, 4, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(421, 6, 4, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(422, 6, 4, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(423, 6, 5, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(424, 6, 5, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(425, 6, 5, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(426, 6, 5, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(427, 6, 5, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(428, 6, 6, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(429, 6, 6, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(430, 6, 6, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(431, 6, 6, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(432, 6, 6, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(433, 7, 0, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(434, 7, 0, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(435, 7, 0, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(436, 7, 0, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(437, 7, 0, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(438, 7, 0, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(439, 7, 1, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(440, 7, 1, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(441, 7, 1, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(442, 7, 1, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(443, 7, 1, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(444, 7, 2, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(445, 7, 2, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(446, 7, 2, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(447, 7, 2, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(448, 7, 2, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(449, 7, 3, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(450, 7, 3, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(451, 7, 3, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(452, 7, 3, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(453, 7, 3, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(454, 7, 4, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(455, 7, 4, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(456, 7, 4, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(457, 7, 4, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(458, 7, 4, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(459, 7, 5, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(460, 7, 5, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(461, 7, 5, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(462, 7, 5, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(463, 7, 5, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(464, 7, 6, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(465, 7, 6, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(466, 7, 6, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(467, 7, 6, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(468, 7, 6, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(469, 7, 0, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(470, 7, 0, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(471, 7, 0, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(472, 7, 0, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(473, 7, 0, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(474, 7, 0, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(475, 7, 1, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(476, 7, 1, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(477, 7, 1, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(478, 7, 1, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(479, 7, 1, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(480, 7, 2, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(481, 7, 2, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(482, 7, 2, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(483, 7, 2, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(484, 7, 2, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(485, 7, 3, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(486, 7, 3, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(487, 7, 3, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(488, 7, 3, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(489, 7, 3, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(490, 7, 4, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(491, 7, 4, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(492, 7, 4, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(493, 7, 4, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(494, 7, 4, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(495, 7, 5, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(496, 7, 5, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(497, 7, 5, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(498, 7, 5, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(499, 7, 5, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(500, 7, 6, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(501, 7, 6, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(502, 7, 6, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(503, 7, 6, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(504, 7, 6, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(505, 8, 0, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(506, 8, 0, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(507, 8, 0, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(508, 8, 0, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(509, 8, 0, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(510, 8, 0, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(511, 8, 1, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(512, 8, 1, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(513, 8, 1, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(514, 8, 1, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(515, 8, 1, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(516, 8, 2, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(517, 8, 2, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(518, 8, 2, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(519, 8, 2, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(520, 8, 2, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(521, 8, 3, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(522, 8, 3, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(523, 8, 3, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(524, 8, 3, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(525, 8, 3, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(526, 8, 4, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(527, 8, 4, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(528, 8, 4, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(529, 8, 4, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(530, 8, 4, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(531, 8, 5, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(532, 8, 5, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(533, 8, 5, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(534, 8, 5, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(535, 8, 5, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(536, 8, 6, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(537, 8, 6, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(538, 8, 6, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(539, 8, 6, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(540, 8, 6, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(541, 8, 0, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(542, 8, 0, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(543, 8, 0, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(544, 8, 0, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(545, 8, 0, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(546, 8, 0, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(547, 8, 1, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(548, 8, 1, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(549, 8, 1, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(550, 8, 1, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(551, 8, 1, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(552, 8, 2, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(553, 8, 2, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(554, 8, 2, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(555, 8, 2, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(556, 8, 2, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(557, 8, 3, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(558, 8, 3, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(559, 8, 3, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(560, 8, 3, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(561, 8, 3, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(562, 8, 4, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(563, 8, 4, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(564, 8, 4, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(565, 8, 4, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(566, 8, 4, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(567, 8, 5, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(568, 8, 5, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(569, 8, 5, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(570, 8, 5, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(571, 8, 5, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(572, 8, 6, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(573, 8, 6, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(574, 8, 6, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(575, 8, 6, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(576, 8, 6, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(577, 9, 0, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(578, 9, 0, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(579, 9, 0, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(580, 9, 0, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(581, 9, 0, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(582, 9, 0, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(583, 9, 1, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(584, 9, 1, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(585, 9, 1, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(586, 9, 1, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(587, 9, 1, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(588, 9, 2, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(589, 9, 2, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(590, 9, 2, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(591, 9, 2, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(592, 9, 2, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(593, 9, 3, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(594, 9, 3, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(595, 9, 3, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(596, 9, 3, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(597, 9, 3, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(598, 9, 4, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(599, 9, 4, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(600, 9, 4, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(601, 9, 4, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(602, 9, 4, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(603, 9, 5, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(604, 9, 5, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(605, 9, 5, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(606, 9, 5, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(607, 9, 5, 6, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(608, 9, 6, 1, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(609, 9, 6, 2, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(610, 9, 6, 3, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(611, 9, 6, 4, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(612, 9, 6, 5, 3, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(613, 9, 0, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(614, 9, 0, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(615, 9, 0, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(616, 9, 0, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(617, 9, 0, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(618, 9, 0, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(619, 9, 1, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(620, 9, 1, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(621, 9, 1, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(622, 9, 1, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(623, 9, 1, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(624, 9, 2, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(625, 9, 2, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(626, 9, 2, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(627, 9, 2, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(628, 9, 2, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(629, 9, 3, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(630, 9, 3, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(631, 9, 3, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(632, 9, 3, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(633, 9, 3, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(634, 9, 4, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(635, 9, 4, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(636, 9, 4, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(637, 9, 4, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(638, 9, 4, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(639, 9, 5, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(640, 9, 5, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(641, 9, 5, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(642, 9, 5, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(643, 9, 5, 6, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(644, 9, 6, 1, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(645, 9, 6, 2, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(646, 9, 6, 3, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(647, 9, 6, 4, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL),
	(648, 9, 6, 5, 4, 'false', 'false', 'WorkflowTransition', NULL, NULL);
Select setval( pg_get_serial_sequence('workflows', 'id'), (Select Max(id) From workflows), TRUE);