SQLALCHEMY_DATABASE_URI=postgresql://postgres:8H0GBXNgq7QSes4xBiH3t@10.20.0.88:31403/devopsdb
SQLALCHEMY_TRACK_MODIFICATIONS=false
JWT_SECRET_KEY=ybCjB720EnJ7iq6RCMk7a
WTF_CSRF_CHECK_DEFAULT=false
JSON_AS_ASCII=false
REDMINE_INTERNAL_BASE_URL=http://10.20.0.88:32748
REDMINE_EXTERNAL_BASE_URL=http://10.20.0.88:32748
REDMINE_ADMIN_ACCOUNT=admin
REDMINE_ADMIN_PASSWORD=Iii123456789!
REDMINE_API_KEY=d8cb035e90baeb94fd88010c74d07db14bcfcaf7
GITLAB_BASE_URL=http://10.20.0.88:32080
GITLAB_ADMIN_ACCOUNT=root
GITLAB_ADMIN_PASSWORD=Iii123456789!
GITLAB_PRIVATE_TOKEN=zf2x673PzuF52RFJKqeg
RANCHER_IP_PORT=10.20.0.88:31443
RANCHER_ADMIN_ACCOUNT=admin
RANCHER_ADMIN_PASSWORD=Iii123456789!
RANCHER_CLUSTER_NAME=iiidevops-k8s
KUBERNETES_MASTER_DOMAIN=
SONARQUBE_INTERNAL_BASE_URL=http://10.20.0.88:31910/api
SONARQUBE_EXTERNAL_BASE_URL=http://10.20.0.88:31910
SONARQUBE_ADMIN_TOKEN=44b5a36d7753a5d6f837e1445581aaf23ac4b157
HARBOR_INTERNAL_BASE_URL=https://10.20.0.88:32443/api/v2.0
HARBOR_EXTERNAL_BASE_URL=https://10.20.0.88:32443
HARBOR_ACCOUNT=admin
HARBOR_PASSWORD=Iii123456789!
INGRESS_EXTERNAL_BASE=
INGRESS_EXTERNAL_TLS=
ADMIN_INIT_LOGIN=iiiadmin
ADMIN_INIT_EMAIL=tech@iii.org.tw
ADMIN_INIT_PASSWORD=Iii123456789!
VERSION_CENTER_BASE_URL=https://version-center.iiidevops.org
DEPLOYMENT_NAME=ro-local
DEPLOYER_NODE_IP=10.20.0.88
DEBUG=false
REDIS_BASE_URL=10.20.0.88:31852
